html, body{
    width: 97%;
    height: 80%;
    background-color: rgb(238, 238, 238); 
}

.calc-upper{   
    width: 100%;
    height: 100%;
  
}

.calc-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    width: 530px;
    height: 500px;   
    margin-left: auto;
    margin-right: auto; 
    margin-top: 70px; 
    border: 5px solid rgb(0, 17, 114);
}

.screen{
    width: 97%;
    height: 25%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(0, 17, 114);
}

#screen__value{    
    width: 100%;
    height: 50%; 
    padding-top: 4%;
    border: none;
    font-size: 55px;
    text-align: right;
   

}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    width: 100%;
    height: 80%; 
    padding-top: 5px;
    border: 2px solid rgb(0, 17, 114);
}

form{
    display: block;
}

.row-one, .row-two, .row-three, .row-four{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    width: 100%;
    height: 25%; 
    /* border: 2px solid rgb(0, 17, 114); */
}

.button{
    width: 15%;
    height: 92%;
    border: 1px solid rgb(0, 17, 114);
    margin: 1px;
}

input{
    width: 15%;
    height: 92%;
    border: 1px solid rgb(0, 17, 114);
    margin: 1px;
    display: block;
    color: rgb(14, 22, 90);
    /* background-color: rgb(255, 238, 0); */
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}





