body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.row{
  display: flex; 
  flex-direction: row;
   border: rgb(0, 0, 0);
}  

.square{
  height: 15px;
  width: 15px;  
 background-color: rgb(233, 233, 233);
}

.control{
margin-top:25px;
}